body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #434455;
    font-style: normal;
}

address {
    font-style: normal;

}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

img {
	display: block;
    max-width: 100%;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
    text-align: center;
}

header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
  background: #fff;
}

nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.container {
max-width: 1158px; 
padding: 0 15;
margin: 0 auto; 
display: flex;
min-height: 100vp;
flex-direction: column;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.accent {
    color: #4d5ae5;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.start-point {
    display: flex;
    gap: 332px;
}

.link {
    padding: 24px 0;
  display: block;
}

.main-link,
.nav-link {
  font-weight: 500;
  padding: 24px 0;
  display: block;
  color: #2e2f42;
}

.main-link:hover, .main-link:focus {
    color: #404bbf;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.main-link:active {
    color: #404bbf;
}

address ul {
  display: flex;
  gap: 40px;
}

.link:hover, 
.link:focus {
    color: #404bbf;
}

.main-page {
background-color: #2e2f42; 
padding: 188px 0;
text-align: center;
color: #fff;
width: 100%;
}

.main-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 600px;
margin: 0 auto 48px;
}

.main-page-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
}

.main-page-button:hover,
.main-page-button:focus {
    background-color: #404bbf;
}

section h2 {
  font-size: 36px;
  margin-bottom: 72px;
  text-align: center;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.mini-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 132px;
}

.features-section ul {
   display: flex;
  gap: 24px; 
}

.features-section ul li {
    width: calc((100% - 72px) / 4);
}

.features-section p {
    text-align: left;
    margin-bottom: 120px;
}

.hidden-title {
    display: none
}

.our-team-wrapper {
    background: #f4f4fd;
    padding: 0 15px;
    text-align: center;
}

.our-team-wrapper ul {
  display: flex;
  gap: 24px;
}

.our-team-list {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name {
text-align: center;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
margin-top: 32px;
}

.team-description {
text-align: center;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-top: 120px;
}

.portfolio-mini-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 32px 16px 8px;
}

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0 16px 32px;
    text-align: left;
}

.ending {
    background-color: #2e2f42;
    color: #f4f4fd;
     padding: 100px 0;
}

.ending-logo {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.ending p {
  max-width: 300px;
  margin-top: 16px;
  text-align: left;

}

main {
    flex-grow: 1;
}